AWS_ACCESS_KEY_ID={{ influxdb_backup_aws_access_key }}
AWS_SECRET_ACCESS_KEY={{ influxdb_backup_aws_secret_access_key }}
AWS_DEFAULT_REGION={{ influxdb_backup_aws_region }}
MOSQUITTO_PASSWORD={{ influxdb_backup_mosquitto_password }}
MOSQUITTO_USERNAME={{ influxdb_backup_mosquitto_username }}
MOSQUITTO_HOST={{ influxdb_backup_mosquitto_host }}
SERVICE_NAME={{ influxdb_service_name }}
BACKUP_FROM={{ influxdb_backup_from }}
BUCKET_NAME={{ influxdb_backup_bucket_name }}
INFLUXDB_HOST={{ influxdb_backup_influxdb_host }}
INFLUXDB_PORT={{ influxdb_backup_influxdb_port }}
INFLUXDB_ORG={{ influxdb_backup_influxdb_org }}
INFLUXDB_TOKEN={{ influxdb_backup_influxdb_token }}
