services:
  influxdb:
    image: influxdb:{{ service_version }}
    container_name: influxdb
    volumes:
      - influxdb-data:/var/lib/influxdb2
      - /etc/letsencrypt:/etc/letsencrypt
    ports:
      - {{ service_port }}:8086
    restart: unless-stopped
    environment:
      - INFLUXD_TLS_CERT=/etc/letsencrypt/live/{{ certbot_domain }}/fullchain.pem
      - INFLUXD_TLS_KEY=/etc/letsencrypt/live/{{ certbot_domain }}/privkey.pem

  backup-toolkit:
    container_name: backup-toolkit
    image: backup-toolkit:local
    command: sleep infinity 
    restart: unless-stopped
    volumes:
      - influxdb-data:{{ backup_from }}
    env_file:
      - ./backup-toolkit.env

volumes:
  influxdb-data: