services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    ports:
      - "{{ influxdb_service_port }}:443"
    volumes:
      - {{ influxdb_traefik_config_dir }}/traefik.yml:/etc/traefik/traefik.yml:ro
      - {{ influxdb_traefik_config_dir }}/dynamic:/etc/traefik/dynamic:ro
      - {{ influxdb_service_config_dir }}/certs:/certs:ro
    restart: unless-stopped

  influxdb:
    image: influxdb:{{ influxdb_service_version }}
    container_name: influxdb
    volumes:
      - influxdb-data:/var/lib/influxdb2
    restart: unless-stopped

  backup-toolkit:
    container_name: backup-toolkit
    image: backup-toolkit:local
    command: sleep infinity
    restart: unless-stopped
    volumes:
      - influxdb-data:{{ influxdb_backup_from }}
    env_file:
      - ./backup-toolkit.env

volumes:
  influxdb-data:
